/* @font-face {
    font-family: "Shabnam";
    src: url(../Fonts/Shabnam.ttf);
}

* {
    direction: rtl;
    font-family: Shabnam;
} */

.login-box {
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3%;
    width: 375px;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    position: relative;
    bottom: 20px;
}
.error {
    color: red;
    font: 13px;
    text-align: center;
}

.controls {
    position: relative;
}

.controls .InputText {
    border: none;
    font-size: 20px;
    width: 98%;
    height: 40px;
    outline: none;
    border-bottom: rgba(0, 0, 0, 0.7) solid 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}
label {
    position: absolute;
    top:0;
    right: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition-delay: .5s;
    transition: .5s;
    }
    input:focus ~ label,
    input:valid ~ label{
        top: -20px;
        color: rgb(0, 0, 0);
        left: 0px;
        font-size: 12px;
  }

form span, form a {
    font-size: 15px;
}
form h1 {
    text-align: center;
    text-shadow: 2px 2px 8px #362b2b7c;
    color: #000000;
    margin-bottom: 10px;
}

.Registary-btn {
    width: 100%;
    height: 50px;
    font-weight: 600;
    background-color: #37A274;
    color: #F8F7F7;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    font-size: 23px;
    border-radius: 50px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

.a-form {
    margin-top: 20px;
    text-align: center;
}
.a-form a {
    color: black;
}
.a-form span {
    color: rgb(134, 131, 131);
}

.a-form a:hover {
    color: red;
}

::placeholder {
    font-size: 14px;
    font-weight: bold;
    color: rgba(9, 12, 22, 0.534);
    font-size: 15px;
}

.lable-check {
    position: relative;
    bottom: 3px;
}
.controlscheck {
    margin-right: 0px;
    margin-top: 20px;
}

.bottom-a {
    margin-top: 10px;
    display: block;
}
